DOMAIN=scratch.example.com
HF_TOKEN=hf_replace_me

POSTGRES_DB=scratch_viber
POSTGRES_USER=scratch_viber
POSTGRES_PASSWORD=replace-with-a-long-random-password

BASIC_AUTH_USER=researcher
BASIC_AUTH_HASH='$2a$14$replace_with_caddy_password_hash'
