# Mac OS
.DS_Store

# Environment variables
.env
.env.local
.env.*
!.env.production.example

# NPM
/node_modules
npm-*
*.log
*.pid

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# Generated translation files
/translations
/locale

# Other generated source
/src/generated

# Downloaded during "npm install"
/static/microbit

# for act
.secrets
