{$DOMAIN} {
    encode zstd gzip

    basic_auth {
        {$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
    }

    handle_path /api/* {
        reverse_proxy api:3456
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
